{% load static %}
<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<head>
    <meta charset="UTF-8">
    <title>测试用例</title>
</head>
{#<script src="https://cdn.bootcss.com/ace/1.4.6/ace.js"></script>#}
{#<script src="https://cdn.bootcss.com/ace/1.4.6/ext-beautify.js"></script>#}
{#<script src="https://cdn.bootcss.com/ace/1.4.6/ext-language_tools.js"></script>#}
{#<script src="https://cdn.bootcss.com/ace/1.4.6/theme-monokai.js"></script>#}
{#<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js" type="text/javascript"></script>#}
{#<script src="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" type="text/javascript"></script>#}

{#ace代码编辑器#}
<script src="{% static "js/ace/src/ace.js" %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static "js/ace/src/ext-beautify.js" %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static "js/ace/src/ext-language_tools.js" %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static "js/ace/src/theme-monokai.js" %}" type="text/javascript" charset="utf-8"></script>

{#jquery#}
<script src="{% static "js/jquery-3.6.0.js" %}" type="text/javascript" charset="utf-8"></script>

{#bootstrap#}
<link rel="stylesheet" href="{% static "js/bootstrap-3.4.1-dist/css/bootstrap.css" %}">
<script src="{% static "js/bootstrap-3.4.1-dist/js/bootstrap.js" %}" type="text/javascript" charset="utf-8"></script>
<style>
    #editor {
        width: 100%;
        height: 400px;
    }

    * {
        margin: 0;
        padding: 0;
    }

    html, body {
        width: 100%;
        height: 100%;
    }

    #container-fluid-id {
        padding: 30px 30px;
        width: 100%;
        height: 100%;
        overflow: hidden;

    }

    #box {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    #left {
        padding-bottom: 60px;
        height: 100%;
        overflow: auto;
    }

    #right {
        padding-top: 60px;
        padding-bottom: 60px;
        height: 100%;
        padding-left: 60px;
        overflow: auto;
    }

    {#    td, tr, th {
            white-space: nowrap;
        }#}
    .table {
    {#overflow: auto;#} display: block;
    }

</style>

<body onload="go_harness()">


<div class="container-fluid" id="container-fluid-id">
    <div class="row">

    </div>

    <div class="row" id="box">


        {#    左半侧#}
        <div class="col-md-6 col-sm-6 col-lg-5 col-xs-6" id="left">

            <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                <h1 style="text-align: left;color: #337ab7  ;padding-bottom: 40px;">用例分析系统 <span
                        class="badge" style="background-color: #337ab7">JavaScript</span></h1>
            </div>
            <div class="row">

                {#            id搜索框#}
                <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                    <form class="bs-example bs-example-form" role="form" method="get" onsubmit="check()">
                        <div class="col-lg-12">
                            <div class="input-group">
                                <input type="number" class="form-control" name="id" id="testcase_id"
                                       placeholder="当前用例 : {{ Testcase_id }}" autocomplete="off">
                                <span class="input-group-btn">
						<button class="btn btn-primary" type="submit">
							搜索
						</button>
					</span>
                            </div><!-- /input-group -->
                        </div><!-- /.col-lg-6 -->
                    </form>
                </div>

                <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                    {% if now_remark|length != 0 %}

                        <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                            <div class="form-group">
                                <label for="remark_content_ajax_id"></label>
                                <textarea
                                        class="form-control "
                                        id="remark_content_ajax_id"
                                        placeholder="快分析，等啥呢"
                                        rows="3"
                                        autocomplete="off">{% if now_remark %}{{ now_remark }}{% endif %}
                                </textarea>


                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                            <button type="button" class="btn btn-primary" id="b4" style="width: 100%">保存分析</button>
                            <div id="save_analysis_id"></div>
                        </div>
                    {% endif %}

                </div>


                <!-- Modal 提示已经保存好-->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">保存好惹👌</h4>
                            </div>
                            <div class="modal-body">
                                你知道你自己很棒么
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">当然知道!</button>
                            </div>
                        </div>
                    </div>
                </div>
                {#                <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">#}
                {##}
                {#        代码提交框#}
                <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12" id="editor" style="margin: 30px;width: 85%"></div>

                <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">

                    <div class="form-group">
                                            <textarea name="testcase_content_ajax"
                                                      id="testcase_content_ajax_id">{{Testcase_context}}</textarea>
                    </div>

                    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                        <button type="button" class="btn btn-primary" id="b3" style="width: 100%">测试</button>
                    </div>

                </div>


            </div>


            {#row#}

        </div>

        <div class="col-md-6 col-sm-6 col-lg-7 col-xs-6" id="right">

            <div class="row">

                <div id="tableDifferentResultAjax"></div>
                <div id="tableHarnessResultAjax"></div>
                <div id="returnCode">
                </div>
            </div>

        </div>
    </div>
</div>


</body>

<script>
    {#如果搜索id是空则返回当前id#}
    const go_harness = function () {
        $.ajax({
            url: "/analysis/herness_ajax/",
            type: "POST",
            data: {
                "herness_ajax": $("#testcase_content_ajax_id").val(),
            },
            success: function (data) {
                const obj = JSON.parse(data);
                {#console.log(obj)#}
                {#console.log(obj.harness_result)#}
                const obj_harness_result = JSON.parse(obj.harness_result);
                const obj_different_result_list = JSON.parse(obj.different_result_list);
                {#console.log(obj_different_result_list)#}
                createTable_different_result_list(obj_different_result_list);
                createTable_harness_result(obj_harness_result.Harness_Result);
            }
        })
    };

    function check() {
        var testcase_id = document.getElementById('testcase_id')
        {#console.log(testcase_id.value)#}
        {#console.log(testcase_id.value==='')#}
        if (testcase_id.value === '') {

            {#alert("不能为空");#}
            testcase_id.value =
            {{ Testcase_id }}
            {#console.log(testcase_id.value)#}
            {#return false#}

        }
        return true
    }


    {#    代码编辑框#}
    var editor_ajax = ace.edit('editor');
    {#var textContent = ''+{{ harness_result.testcase_context|safe }}#}
    {#console.log(textContent)#}
    var content_ajax_textarea = document.getElementById('testcase_content_ajax_id')
    content_ajax_textarea.hidden = true

    var textContent = content_ajax_textarea.value;


    console.log(textContent)
    editor_ajax.getSession().setValue(textContent)

    editor_ajax.getSession().on('change', function (e) {
        content_ajax_textarea.value = editor_ajax.getSession().getValue()
    });


    {#代码提示#}
    editor_ajax.setOptions({
        enableBasicAutocompletion: true,
        enableSnippets: true,
        enableLiveAutocompletion: true
    });

    {#editor_ajax.setTheme("ace/theme/monokai");#}

    editor_ajax.getSession().setMode("ace/mode/javascript")
    editor_ajax.setFontSize(13)

    var wrongId;


    $(document).ready(function () {
        $("#b3").on("click", go_harness)
    })

    $(document).ready(function () {
        $("#b4").on("click", function () {
            $.ajax({
                url: "/analysis/remark_ajax/",
                type: "POST",
                data: {
                    "remark_ajax": $("#remark_content_ajax_id").val(),
                },
                success: function (data) {
                    console.log(data)
                    {#window.alert("保存好惹👌🏻");#}
                    $('#myModal').modal({backdrop: false})
                }
            })
        })
    })


    const testbed_info = {
        1: 'v8',
        2: 'spiderMonkey',
        3: 'chakra',
        4: 'jsc',
        5: 'quickjs',
        6: 'jerryscript',
        7: 'graaljs',
        8: 'hermes',
        9: 'chakra-beta'
    };
    {#更新差分结果表#}

    function createTable_harness_result(obj) {
        var data = obj.outputs
        var tableStr = "<table class='table table-condensed' style='table-layout:fixed;width: 100%' id='harness_table_id'>";
        tableStr = tableStr
            + "<tr>"
            + "<th>Testcase Id</th>"
            + "<th>Engine Id</th>"
            + "<th>Engine</th>"
            + "<th>Stdout</th>"
            + "<th>Stderr</th>"
            + "<th>Returncode</th>"
            + "</tr>";

        const len = data.length;

        for (var i = 0; i < len; i++) {
            var trHeadStr = wrongId.includes(data[i].testbed_id) ? "<tr class='danger'>" : "<tr>"

            {#console.log(data[i].stdout + 'ffff')#}

            var firstTd = i === 0 ? '<td rowspan="0">' + obj.testcase_id + "</td>" : ''

            tableStr = tableStr + trHeadStr
                + firstTd
                + "<td>" + data[i].testbed_id + "</td>"
                + "<td>" + testbed_info[data[i].testbed_id] + "</td>"
                + "<td><code><p style='white-space:pre'>" + data[i].stdout + "</p></code></td>"
                + "<td>" + data[i].stderr + "</td>"
                + "<td>" + data[i].returncode + "</td>"
                + "</tr>";
        }

        tableStr = tableStr + "</table>";
        //添加到div中
        console.log(tableStr)
        $("#tableHarnessResultAjax").html(tableStr);
        $("#returnCode").html("<kbd>返回码</kbd><code>{{ returncode }}</code>");
    }

    {#更新可疑结果表#}

    function createTable_different_result_list(obj) {
        wrongId = new Array();
        var len = obj.length;

        if (len === 0) {
            var tableStr = "<table class='table table-condensed table-responsive'>";
        }

        if (len !== 0) {
            var tableStr = "<table class='table table-condensed table-responsive'>";
            tableStr = tableStr
                + "<tr>"
                + "<th >Testcase Id</th>"
                + "<th >Error Type</th>"
                + "<th >Engine Id</th>"
                + "<th >Engine</th>"
                + "</tr>";

            for (var i = 0; i < len; i++) {

                wrongId.push(obj[i].testbed_id)

                {#console.log(obj[i].testcase_id)#}
                {#console.log(obj[i].error_type)#}
                {#console.log(obj[i].testbed_id)#}
                var firstTd = i === 0 ? '<td rowspan="0">' + obj[i].testcase_id + "</td>" : ''

                tableStr = tableStr + "<tr>"
                    + firstTd
                    + "<td>" + obj[i].error_type + "</td>"
                    + "<td>" + obj[i].testbed_id + "</td>"
                    + "<td>" + testbed_info[obj[i].testbed_id] + "</td>"
                    + "</tr>";
            }

            tableStr = tableStr + "</table><br>";
            //添加到div中
            console.log(tableStr)
        }
        $("#tableDifferentResultAjax").html(tableStr);


    }

</script>

</html>