{% load static %}
<!DOCTYPE html>
<html lang="en">


{#<script src="https://cdn.bootcss.com/ace/1.4.6/ace.js"></script>#}
{#<script src="https://cdn.bootcss.com/ace/1.4.6/ext-beautify.js"></script>#}
{#<script src="https://cdn.bootcss.com/ace/1.4.6/ext-language_tools.js"></script>#}
{#<script src="https://cdn.bootcss.com/ace/1.4.6/theme-monokai.js"></script>#}


<script src="{% static "js/ace/src/ace.js" %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static "js/ace/src/ext-beautify.js" %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static "js/ace/src/ext-language_tools.js" %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static "js/ace/src/theme-monokai.js" %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static "js/jquery-3.6.0.js" %}" type="text/javascript" charset="utf-8"></script>

<body>

{#id搜索框#}
<form method="get" onsubmit="check()">
    <input name="id" type="number" placeholder="{{ Testcase_id }}" autocomplete="off" id="testcase_id"
    >
    <input type="submit" value="搜索🆔">
</form>
<br>
{#输入分析框#}
{% if different_result_list|length != 0 %}
    <form method="post">
        <textarea name="remark" rows="5" cols="100" placeholder='请输入分析' autocomplete="off">{% if now_remark %}
            {{ now_remark }}{% endif %}</textarea>
        <input type="submit" value="提交"></form>
{% endif %}

<br>
{#代码编辑框#}
{#<div id="editor"></div>#}
<br>
{#代码提交框#}
<form method="post">
    <textarea name="testcase_content" id="testcase_content_id" rows="15" cols="100"
              placeholder='请输入用例'>{{ harness_result.testcase_context }}</textarea>
    <input type="submit" value="开始测试！">
</form>


<br>

<style>
    #editor {
        width: 800px;
        height: 400px;
    }
</style>


<script>

    {#    代码编辑框#}
    var editor = ace.edit('editor');
    var text = `{{ harness_result.testcase_context|safe }}`
    {#console.log(text)#}
    {#var text_context = {{ harness_result.testcase_context }}#}
    editor.getSession().setValue(`{{ harness_result.testcase_context|safe }}`)

    {#var content_textarea = document.getElementById('testcase_content_id')#}

    content_textarea.hidden = true

    editor.getSession().on('change', function (e) {
        {#textarea.val(editor.getSession().getValue());#}
        content_textarea.value = editor.getSession().getValue()

        {#console.log('内容有变化')#}
    });
    {#代码提示#}
    editor.setOptions({
        enableBasicAutocompletion: true,
        enableSnippets: true,
        enableLiveAutocompletion: true
    });

    editor.setTheme("ace/theme/monokai");

    editor.getSession().setMode("ace/mode/javascript")
    editor.setFontSize(13)

    {#如果搜索id是空则返回当前id#}

    function check() {
        var testcase_id = document.getElementById('testcase_id')
        {#console.log(testcase_id.value)#}
        {#console.log(testcase_id.value==='')#}
        if (testcase_id.value === '') {

            {#alert("不能为空");#}
            testcase_id.value =
            {{ Testcase_id }}
            {#console.log(testcase_id.value)#}
            {#return false#}

        }
        return true

    }
</script>

<br>
{#比对不同#}
{% if different_result_list|length != 0 %}
    {#        <h1 style="text-align:center;font-size:40px;font-family:times;color:orange">问题如下</h1>#}

    <table border="=100" style="position: center">
        <tr>
            <th>testcase id</th>
            <th>Error_type</th>
            <th>Engine Id</th>
            <th>Engine</th>

        </tr>
        {% for suspicious_result in different_result_list %}
            <tr>
                <td>{{ suspicious_result.testcase_id }}</td>
                <td>{{ suspicious_result.error_type }}</td>
                <td>{{ suspicious_result.testbed_id }}</td>
                <td>{{ testbed_info|get_item:suspicious_result.testbed_id }}</td>

            </tr>
        {% endfor %}
    </table>
{% else %}
    <h1 style="text-align:center;font-size:40px;font-family:times;color:green">没有触发问题</h1>

{% endif %}

<br>

<table border="=1">
    <tr>
        <th>Testcase Id</th>
        <th>Engine Id</th>
        <th>Engine</th>
        <th>Stdout</th>
        <th>Stderr</th>
        <th>Returncode</th>
    </tr>


    {% for output in harness_result.outputs %}
        <tr>
            <td>{{ harness_result.testcase_id }}</td>
            <td>{{ output.testbed_id }}</td>
            <td>{{ testbed_info|get_item:output.testbed_id }}</td>
            <td>{{ output.stdout }}</td>
            <td>{{ output.stderr }}</td>
            <td>{{ output.returncode }}</td>
        </tr>
    {% endfor %}
</table>
<br>
{{ returncode }}

</body>
<head>
    <meta charset="UTF-8">
    <title>测试用例</title>
</head>


<div>

<input type="text" id="title">
<p class="text"></p>
<input type="button" value="AJAX提交" id="b2">

<script>
  $(document).ready(function(){
  $("#b2").on("click", function () {
    $.ajax({
      url:"/analysis/ajax_text/",<!--为什么这个url只能使用原生url里的链接-->
      type:"GET",
      data:{
     "blogtitle":$("#title").val(),
     },
      success:function (data) {
        $(".text").html(data);
      }
    })
  })
  })

</script>

</div>



<br>
<div id="editor"></div>
{#代码提交框#}
<form method="post">
    <textarea name="testcase_content_ajax" id="testcase_content_ajax_id" rows="15" cols="100"
              placeholder='请输入用例'>{{ harness_result.testcase_context }}</textarea>
    <input type="submit" value="开始测试！">
</form>


<br>


<style>
    #editor_ajax {
        width: 800px;
        height: 400px;
    }
</style>


<script>

    {#    代码编辑框#}
    var editor_ajax = ace.edit('editor');
    {#console.log(text)#}
    {#var text_context = {{ harness_result.testcase_context }}#}
    editor_ajax.getSession().setValue(`{{ harness_result.testcase_context|safe }}`)

    var content_ajax_textarea = document.getElementById('testcase_content_ajax_id')

    content_ajax_textarea.hidden = true

    editor_ajax.getSession().on('change', function (e) {
        {#textarea.val(editor.getSession().getValue());#}
        content_ajax_textarea.value = editor_ajax.getSession().getValue()
    });
    {#代码提示#}
    editor_ajax.setOptions({
        enableBasicAutocompletion: true,
        enableSnippets: true,
        enableLiveAutocompletion: true
    });

    editor_ajax.setTheme("ace/theme/monokai");

    editor_ajax.getSession().setMode("ace/mode/javascript")
    editor_ajax.setFontSize(13)


</script>

<br>

<div>

    <table border="=1">
    <tr>
        <th>Testcase Id</th>
        <th>Engine Id</th>
        <th>Engine</th>
        <th>Stdout</th>
        <th>Stderr</th>
        <th>Returncode</th>
    </tr>


    {% for output in harness_result.outputs %}
        <tr>
            <td>{{ harness_result.testcase_id }}</td>
            <td>{{ output.testbed_id }}</td>
            <td>{{ testbed_info|get_item:output.testbed_id }}</td>
            <td>{{ output.stdout }}</td>
            <td>{{ output.stderr }}</td>
            <td>{{ output.returncode }}</td>
        </tr>
    {% endfor %}
</table>

</div>

</html>